[package]
name = "intel-mkl-tool"
version = "0.2.0-alpha.1"
authors = ["Toshiki Teramura <toshiki.teramura@gmail.com>"]
edition = "2018"

description = "CLI utility for redistributiing Intel(R) MKL"
repository  = "https://github.com/rust-math/intel-mkl-src"
keywords    = ["cli"]
license     = "MIT"

[features]
default = ["cli"]
cli = ["structopt"]

[dependencies]
anyhow = "1.0.31"
curl = "0.4.29"
derive_more = "0.99.8"
dirs = "2.0.2"
glob = "0.3.0"
pkg-config = "0.3.17"
tar = "0.4.29"
zstd = "0.5.3"

# CLI
structopt  = { version = "0.3.15", optional = true }

[dev-dependencies]
paste = "0.1.17"

[[bin]]
name = "intel-mkl-tool"
path = "src/cli.rs"
required-features = ["cli"]
